.img-brand{
    margin: auto;
    background-size: cover;
    object-fit: cover;
    background-repeat: no-repeat;
    background-position: right;
    width: 21rem;
    height: 21rem;
 right: 50%;
}
 a.btn-dartar{
  width: 10rem;
   background-color:  #00adb0;
   color: white; 
}
a.btn-dartar:hover{
    width: 10rem;
     background-color: #05cccf;
     color: white; 
  }
.title-hero{
    font-weight: 900;
}
  

